.accountsettings{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.accountsettings h1{
    padding: 10px 20px;
}
.accountsettings .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}
.accountsettings .form .form-group{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
}
.accountsettings .form .form-group label{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px; 
}
.accountsettings .form .form-group .input-doc{
    padding: 10px 20px;
    border: 1px solid rgb(207,207,207);
    border-radius: 5px;
    outline: none;
}
.accountsettings .form .form-group .input-doc:focus{
    border: 1px solid #1976d2;
}
.save-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
}