:root{
    --background:#D8E3FA;
  --gray: #EAEAEC;
  --primary: #29283F;
   --primary-violet:#7370F4; 
 
 }
 
 .main-c{
    /* background-color: bisque; */
    font-family:Poppins, sans-serif;
    margin-left: 25px; 
 }
 
 .card-s{
    width:100% ;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
 }
 
 .card-d{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(33.333% -20px);
 
    border-radius: 24px;
    background-color: whitesmoke; 
    cursor: pointer;
    overflow:hidden; 
    max-width: clamp(300px,70vw, 550px);
    min-width: 400px;
    max-height: 170px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 40px;
    
 
 }

 .heading{
    color: navy;
    margin-top: 45px;
    margin-bottom: 10px;
 }
 
 .background{
    flex:1 1 250рх;
 } 
 
 .background img{
    width:120px ;
 height: 25vh;
 border-radius: 0%;
 object-fit: cover;
 margin-top: 0%;
 margin-bottom: 0%;
 /* border:1px solid gray; */
 } 
 
 .content {
    flex:3 1 350px;
    display: flex ;
 flex-direction: column; 
 justify-content: start; 
 /* padding: 16px;  */
 max-width:fit-content ;
 max-height: 20vh;
 
 }
 
 .content .des{
    margin-top: 10px;
    background-color:var(--primary);
    opacity: 0.8;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    margin-left: 80px;
    /* padding:  4px 7px 4px 7px; */
    margin-bottom:0;
    margin-top: 2px;
    font-weight: 500;
 }
 .content h2{
    
    /* text-align: center; */
    text-wrap: wrap;
   
    margin-left: 35px;
    font-size: 20px;
    font-weight:600; 
    margin-top: 15px;
    margin-bottom:10px;
 } 
 
 .content .des{
    margin-left: 95px;
    margin-bottom: 10px;
 }
 
 .content .exp{
    margin-left: 35px;
    margin-bottom: 2px;
    text-align: center;
 }
 
 /* .content .secondary{
    color: var(--primary-violet);
 } */
 
 .action-buttons {
    /* border-top: 2px solid var(--gray); */
    /* padding-top: 10px; */
    padding-bottom: 5px;
    margin-left: 20px;
    /* gap: 12px; */
    display: flex;
    /* margin-top: auto; */
    flex-wrap: wrap;
    width:20px;
 }
 
 .action-buttons .btn{
    background-color:var(--primary);
    color:white;
    text-align: center;
      padding-top: 0;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      margin-top: 15px;
      margin-left: 50px;
      border-radius: 8px;
      height: 45px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      flex: 1 0 200px;
      max-height: 25px;
    }
 
    .btn span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    
    }
    
    .btn:hover span {
        padding-right: 25px;
      }
      
      .btn:hover span:after {
        opacity: 1;
        right: 0;
      }
 
 
 